html, body {
    /* margin: auto 0.5in; */
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: #eee; 
}

a { color: inherit; }
a:hover { text-decoration: none; }


#Book {
}

/* Searchbar: https://bootsnipp.com/snippets/GaeQR */

#Filter .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px !important;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 20px !important;
    }

#Filter .search_input{
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

#Filter .searchbar:hover > .search_input{
    width: 350px;
    caret-color: red;
    transition: width 0.4s linear;
    }

#Index .line {
}

#Index {

}

#Index .page-numbers {
    border-bottom: 1px dotted #ccc;
}

#Index .title p {
    margin: 0;
    padding-left: 1rem;

}


#Index .title p:first-of-type {
    text-indent: -1rem;

}

.song, .page  {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    /* margin: 0.5in 0;
    padding: 0.5in; */
    padding: 0.25in;
    border: 1px solid black;
}

.page .number {
    position: absolute;
    top: 1in;
    right: 1in;
}

.page .header {
    margin-bottom: 2em;
}

.page .columnar {
    columns: 3;
    /* column-rule: 4px solid #eee; */
    /* grid-auto-flow: column; */
}

.song .title, #Intro .title {
    /* position: absolute; */
    top: 0;
    color: #fff;
    background-color: #999;
    /* z-index: 1 !important; */
    font-family: 'Merriweather';
    font-size: 48pt;
    line-height: 36pt;
    padding: 10px;
    margin-bottom: 0;

}

.song .key {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    top: -15px;
    right: -10px;
    font-weight: bolder;
    padding: 5px 16px;
    /* z-index: 3 !important; */
    font-size: 16pt;
    /* vertical-align: bottom; */
    text-align: center;
    color: #fff;
    border: 1px solid #ccc;
    background-color: #666;
}

.song .subtitle {
    color: #333;
    text-transform: uppercase;
    /* font-style: italic;  */
    /* margin-top: -8pt; */
    /* padding-left: 1em; */
    font-family: 'Oswald';
    font-size: 16pt;

}

.notes {
    font-family: "Gentium Book Basic", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.song .lyrics {
    /* margin-block-start: 1em; */
    font-family: "Caveat";
    color: #333;
    font-size: 18pt;
    line-height: 16pt;

}

.song .lyrics .break {
    color: #ccc;
}

.song .lyrics .stanza {
    margin-bottom: 1rem;
}

.song .lyrics p {
    margin-bottom: 0;    
    text-indent: -2rem;
    padding-left: 2rem;
}

.song .chord-section {
    margin-top: 1em;
}

.song .chord-bar {
    font-family: "Source Code Pro";
    border-left: 1px solid black;
}

.song .chord-bar:last-of-type {
    border-right: 1px solid black;
}

@media print {
    #Book {
        margin: 1in 0.5in
    }

    #Intro {
        display: none;
    }    

    .page {
        margin: 0;
        padding: 0;
        margin-top: 0.5in;
        height: 100% !important;
        page-break-after: always;
    }

    .page .number {
        position: absolute;
        top: 0;
        right: 0;
    }
    
}